# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [60]:
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
%config Inlinebackend.figure_format = 'retina'

import seaborn as sns
sns.set_context('poster')
sns.set(rc={'figure.figsize': (16., 9.)})
sns.set_style('whitegrid')

import pandas as pd

from scipy.stats import trim_mean, mode, skew, gaussian_kde, pearsonr, spearmanr, beta
from statsmodels.stats.weightstats import ztest as ztest
from scipy.stats import ttest_ind, norm, t
from scipy.stats import ttest_1samp
from scipy.stats import f_oneway

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [61]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [62]:
salaries.head(20)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
5,"ABBASI, CHRISTOPHER",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,F,Salary,NaN,50436.0,NaN
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
8,"ABBATEMARCO, JAMES J",FIRE ENGINEER-EMT,FIRE,F,Salary,NaN,103350.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
11,"ABDALLAH, ZAID",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
12,"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
13,"ABDELLATIF, AREF R",FIREFIGHTER (PER ARBITRATORS AWARD)-PARAMEDIC,FIRE,F,Salary,NaN,102228.0,NaN
14,"ABDELMAJEID, AZIZ",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
15,"ABDOLLAHZADEH, ALI",FIREFIGHTER/PARAMEDIC,FIRE,F,Salary,NaN,91272.0,NaN
16,"ABDUL-KARIM, MUHAMMAD A",ENGINEERING TECHNICIAN VI,WATER MGMNT,F,Salary,NaN,111492.0,NaN
17,"ABDULLAH, DANIEL N",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,95484.0,NaN
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
19,"ABDULLAH, RASHAD",ELECTRICAL MECHANIC (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.10

In [73]:

salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

count    8022.000000
mean       32.788558
std        12.112573
min         2.650000
25%        21.200000
50%        35.600000
75%        40.200000
max       109.000000
Name: Hourly Rate, dtype: float64

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [64]:
count_nan_in_df = salaries.isnull().sum()
print ("Values missing:\n",count_nan_in_df)

Values missing:
 Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [65]:
salaries.groupby('Salary or Hourly').size()

Salary or Hourly
Hourly     8022
Salary    25161
dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [66]:
df_department = salaries.groupby('Department').size()
df_department

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [75]:
H0 ="H0: All salaries are around 30$"
H1= "H1: Hourly wage has many diffents amounts different than 30$"

treshold=0.05
sample_hours = salaries["Hourly Rate"].dropna()
sample_mean= sample_hours.mean()
_,p_value = ztest(sample_hours, value=30, alternative = "two-sided")

print(f"Probability: {p_value}")
if p_value < treshold: 
    print(H1)
else:
    print(H0)

Probability: 1.8228873859286195e-94
H1: Hourly wage has many diffents amounts different than 30$

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [79]:
condition = (salaries["Department"] == "POLICE") & (salaries["Salary or Hourly"] == 'Salary')
police_salaries = salaries.loc[condition, "Annual Salary"].dropna()
police_salaries_mean = police_salaries.mean()
last_year = 86000

_,p_value = ztest(police_salaries, value=last_year,alternative="larger")
H0 ="H0: Salary year mean hasn't increased"
H1= "H1: Salary mean has increased current year"

if p_value < treshold: # It is very unlikely (p value is very low) that it happens, given  H0 is true 
    print(H1)
else:
    print(H0)

86486.41450313339

Using the `crosstab` function, find the department that has the most hourly workers.

In [70]:
hourly_salaries = salaries[salaries['Salary or Hourly'] == 'Hourly']

pivot_company = pd.crosstab(hourly_salaries['Department'], hourly_salaries['Salary or Hourly'],margins=False,margins_name="Total")

max_row_index = pivot_company.idxmax()
max_row = pivot_company.loc[max_row_index]
max_row

Salary or Hourly  Hourly
Department
STREETS & SAN       1862

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [97]:
H0 ="H0: Hourly Wage is less than 35$"
H1= "H1: Hourly Wage is greater than 35$"

condition = (salaries["Department"] == "STREETS & SAN") & (salaries["Salary or Hourly"] == 'Hourly')
df_sample = salaries.loc[condition, "Hourly Rate"].dropna()
hourly_salaries_mean = np.mean(hourly_salaries["Department"]=='STREETS & SAN')
_,p_value = ttest_1samp(df_sample,hourly_salaries_mean)
if p_value < treshold: # It is very unlikely (p value is very low) that it happens, given  H0 is true 
    print(H1)
else:
    print(H0)

H1: Hourly Wage is greater than 35$

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [107]:
import scipy.stats as st

sample_hours = salaries["Hourly Rate"].dropna()
sample_mean= sample_hours.mean()


p1,p2=st.t.interval(0.95, df=len(sample_hours)-1, loc=np.mean(sample_hours), scale=st.sem(sample_hours)) 
print (f"CI = From {round(p1,2)} To {round(p2,2)}")

CI = From 32.52 To 33.05

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [108]:
p1,p2=st.t.interval(0.95, df=len(police_salaries)-1, loc=np.mean(police_salaries), scale=st.sem(police_salaries)) 
print (f"CI = From {round(p1,2)} To {round(p2,2)}")

CI = From 86177.06 To 86795.77

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [114]:
from statsmodels.stats.proportion import proportions_ztest


# Data setup from salaries
df_hourly = salaries['Salary or Hourly']
n_workers = df_hourly.value_counts()['Hourly']
total_workers = len(df_hourly)

# proportions test
proportion = 0.25
_, p_value = proportions_ztest(n_workers, total_workers, proportion)
p_value

# Testing hypothesis

alpha = 0.05

if p_value < alpha:
    print(f"H0: The proportion of hourly workers is significantly different from 25%")
else:
    print(f"H1: The proportion of hourly workers is not significantly different from 25%")

H0: The proportion of hourly workers is significantly different from 25%