# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
salaries.columns

Index(['Name', 'Job Titles', 'Department', 'Full or Part-Time',
       'Salary or Hourly', 'Typical Hours', 'Annual Salary', 'Hourly Rate'],
      dtype='object')

In [4]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [5]:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [6]:
salaries['Salary or Hourly'].value_counts()

Salary or Hourly
Salary    25161
Hourly     8022
Name: count, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [10]:
salaries.groupby('Department')['Name'].count()

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [2]:
import scipy.stats 
from statsmodels.stats.weightstats import ztest as ztest

In [18]:
hourly_mean = 30

# h0 = 30
# h1 != 30

In [20]:
hourly_wage_data = salaries['Hourly Rate'].dropna()
len(hourly_wage_data)

8022

In [23]:
_, p_value = ztest(hourly_wage_data, value = 30, alternative = "two-sided")
alpha = 0.05 # 95% confidence interval

print(f'P-value: {p_value}')

if p_value < alpha:
    print("We reject H0. The hourly wage is significantly different from $30/hr.")
else:
    print("We fail to reject the null hypothesis. The hourly wage is not significantly different from $30/hr.")

P-value: 1.8228873859286195e-94
We reject H0. The hourly wage is significantly different from $30/hr.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [26]:
condition = salaries['Department'] == 'POLICE'
police = salaries.loc[condition, 'Annual Salary']

# h0 â‰¤ 86000
# h1 > 860000

In [27]:
_, p_value = ztest(police, value = 860000, alternative = "larger")
alpha = 0.05 # 95% confidence interval

print(f'P-value: {p_value}')

if p_value < alpha:
    print("H0: No evidence to prove that police wages are significantly different to last year's average of $86k")
else:
    print("H1: We have enough evidence to show police wages are actually larger than last year's average of $86k")

P-value: nan
H1: We have enough evidence to show police wages are actually larger than last year's average of $86k

Using the `crosstab` function, find the department that has the most hourly workers.

In [9]:
pd.crosstab(salaries["Department"],salaries["Salary or Hourly"]).sort_values(by = "Hourly", ascending=False).head(1)

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [10]:
salaries[salaries["Department"]=="STREETS & SAN"]["Hourly Rate"].dropna().mean()

33.72837808807734

In [11]:
from scipy.stats import ttest_1samp
streetsan_hourly = salaries[salaries["Department"]=="STREETS & SAN"]["Hourly Rate"].dropna()

In [12]:
_, p_value = ttest_1samp(streetsan_hourly, 35 ,alternative="less")
p_value

1.6689265282353859e-21

In [13]:
alpha = 0.05

h0 = "H0: Steet & San workers hourly wage is $35/hour. We keep H0."
h1 = "H1: Steet & San workers hourly wage is less than $35/hour. We reject H0 and keep H1"

if p_value < alpha:
    print(h1)
else:
    print(h0)

H1: Steet & San workers hourly wage is less than $35/hour. We reject H0 and keep H1

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [14]:
from scipy.stats import t
from scipy.stats import sem

In [17]:
hourly_workers = salaries[salaries["Salary or Hourly"]=="Hourly"]
sample_hourly = hourly_workers["Hourly Rate"]
mean = sample_hourly.mean()
sample_size = len(sample_hourly)
sample_size

8022

In [18]:
standard_error = sem(sample_hourly, ddof=1)
standard_error

0.1352368565101596

In [23]:
t.interval(0.95, df = sample_size-1, loc=mean, scale=standard_error)

(86486.1494198268, 86486.67958643998)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [20]:
salaried_police = salaries[(salaries["Salary or Hourly"]=="Salary") & (salaries["Department"]=="POLICE")]
sample_police = salaried_police["Annual Salary"]
mean = sample_police.mean()
sample_size = len(sample_police)
sample_size

13404

In [24]:
standard_error1 = sem(sample_police, ddof=1)
standard_error1

157.82445675052244

In [25]:
t.interval(0.95, df = sample_size-1, loc=mean, scale=standard_error1)

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [4]:
from statsmodels.stats.proportion import proportions_ztest

In [5]:
# H0 --> hourly_workers = 0.25 of total  # 25%
# H1 --> hourly_workers != 0.25 of total 

count = len(salaries["Hourly Rate"][salaries["Salary or Hourly"]=="Hourly"])
n = len(salaries["Salary or Hourly"])
proportion = 0.25
alpha = 0.5

_, p_value = proportions_ztest(count, n, proportion, alternative = "two-sided")


# Output results
print(f"P-value: {p_value}")

# Interpret the results
alpha = 0.05

if p_value < alpha:
    print("Reject the null hypothesis: The proportion of hourly workers is significantly different from the 25%.")
else:
    print("Fail to reject the null hypothesis: There is no significant difference between the proportion of hourly workers and the 25% of total workers.")

P-value: 0.0004481127249057967
Reject the null hypothesis: The proportion of hourly workers is significantly different from 25%.